.pembungkus{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
}

.heading{
    font-size: 39px;
    color: #000000;
    padding-top: 20px;
    
}

.sub-heading{
    font-size: 20px;
    color: grey;

}
.foto{
    border-radius: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;

}

.text{
    color: black;

}